@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.margin-zero{
    margin: 0px!important;
}

.strike{
    text-decoration: line-through;
}
